.header {
    background-color: #555555;
}
.header_sitename {
    font-size: 100px;
    text-align: center;
    color: #000000;
}
.header_description {
    font-size: 10px;
    text-align: center;
    color: #000000;
}